<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <listeners>
        <listener class-name="com.am.api.reporting.Setup" />
    </listeners>
    <test name="MyTest">
        <classes>
            <class name="com.am.api.tests.OrderEndpoints" />
        </classes>
    </test>
</suite>